# Created by https://www.toptal.com/developers/gitignore/api/doxygen
# Edit at https://www.toptal.com/developers/gitignore?templates=doxygen

### Doxygen ###
html
latex

# End of https://www.toptal.com/developers/gitignore/api/doxygen

